/* content view */

.content-view.subtitle {
  font: smaller;
  padding: 0 12px;
}

.content-view.view {
  background-color: @bg_color;
}

.content-view.view:prelight,
.content-view.view:selected,
.content-view.view:active {
  background-color: @highlight_color;
}

.content-view.view:insensitive {
  background-color: @insensitive_color;
  color: shade(@insensitive_color, 0.75);
}

GdMainIconView.content-view {
  -GdMainIconView-icon-size: 40;
}

GtkIconView.content-view.check {
  background-color: transparent;
}

GtkIconView.content-view.check:active {
  background-color: transparent;
}

.content-view.view.check,
.content-view.view.check:active {
  background-color: transparent;
}

GtkIconView.content-view.check:prelight,
GtkIconView.content-view.check:insensitive,
GtkIconView.content-view.check:selected {
  background-color: transparent;
}