.menu,
.header-bar .menu {

  /**
   * Adjust the shade factor if we are using a compositor to apply transparency to our menu, 
   * else it will appear too light, in comparison to the corresponding active menubar item...
   */	
	background-color: shade(@menu_bg_color, 0.45);

}

GtkTreeMenu.menu,
GtkMenuToolButton.menu,
GtkComboBox .menu {
	background-color: @bg_color_dark;
	margin: 3px;
}

.primary-toolbar .menu,
.primary-toolbar .button .menu,
.toolbar .menu,
.toolbar .primary-toolbar .menu,
.header-bar .primary-toolbar .menu {
	border: 0;
	padding: 0;
	background-color: @menu_bg_color;
	color: @text_color_light;
}

.menu:selected {
	background-color: @bg_color_dark;
}

.menu.button:hover,
.menu.button:active,
.menu.button:checked,
.menu.button {
	border-width: 0;
	background-color: @bg_color_dark;
}

.context-menu {
	font: initial;
}

.menubar {
	-GtkWidget-window-dragging: true;
	border: 0;
	background-color: @bg_color_dark;
	color: @text_color_light;
}

.menubar.menuitem,
.menubar .menuitem {
	padding: 3px 5px;
	border: 1px solid transparent;
	background-color: transparent;
	color: @text_color_light;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover,
.menubar .menuitem *:hover {


  /**
   * Adjust the shade factor if we are using a compositor to apply transparency to our menu, 
   * else it will appear too light, in comparison to the corresponding active menubar item...
   */	
	border-color: shade(@menu_bg_color, 0.9);
	background-color: shade(@menu_bg_color, 0.9);

}

GtkTreeMenu .menuitem {
	padding: 0;
	border-width: 0;
}

.menuitem,
.menu .menuitem {
	-GtkMenuItem-arrow-scaling: 0.5;
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 0;
	background-color: transparent;
	color: @text_color_light;
}

.menu .menuitem:active,
.menu .menuitem *:active,
.menu .menuitem:hover,
.menu .menuitem *:hover {
	border-color: transparent;
	border-radius: 0;
	background-color: @highlight_color;
	color: @highlight_text_color;
}

.menu .menuitem:insensitive,
.menu .menuitem *:insensitive {
	color: @bg_color_dark;
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover {
	border-style: none;
	background-color: transparent;
}

.menuitem.check:active,
.menuitem.radio:active {
	border-style: none;
	background-color: transparent;
}

.menu.button:active:insensitive,
.menu.button:checked:insensitive,
.menu.button:insensitive,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
	border: 1px solid @insensitive_color;
	background-color: @insensitive_color;
}

.menuitem GtkCalendar:inconsistent {
	color: mix(@text_color_light, @menu_bg_color, 0.5);
}

.menuitem GtkCalendar.button {
	border-style: none;
	background-color: transparent;
}

.menuitem .accelerator {
	color: alpha(@text_color_light, 0.6);
}

.menuitem .accelerator:hover {
	color: alpha(@text_color_light, 0.8);
}

.menuitem .accelerator:insensitive {
	color: alpha(@insensitive_color, 0.6);
}

GtkModelMenuItem GtkBox GtkImage {
	padding-right: 4px;
}
