GtkTreeMenu.menu,
GtkMenuToolButton.menu,
GtkComboBox .menu {
	background-color: #4a4948;
	margin: 3px;
}

.primary-toolbar .menu,
.primary-toolbar .button .menu,
.toolbar .menu,
.toolbar .primary-toolbar .menu,
.header-bar .menu,
.header-bar .primary-toolbar .menu,
.menu {
	border: 0;
	padding: 0;
	background-color: #242424;
	color: @menu_fg_color;
}

.menu:selected {
	background-color: #4a99cb;
}

.menu.button:hover,
.menu.button:active,
.menu.button:checked,
.menu.button {
	border-width: 0;
	background-color: @bg_color_dark;
}

.context-menu {
	font: initial;
}

.menubar {
	-GtkWidget-window-dragging: true;
	border: 0;
	background-color: #4a4948;
	color: @menu_fg_color;
}

.menubar.menuitem,
.menubar .menuitem {
	padding: 3px 5px;
	border: 1px solid transparent;
	background-color: transparent;
	color: @menu_fg_color;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover,
.menubar .menuitem *:hover {
	/* 
	 * Adjust the shade factor if we are using something like compton to apply transparency
	 * to our menus, else it will appear too dark, by contrast...
	 */
	border-color: shade(#242424, 1.7);
	background-color: shade(#242424, 1.7);
}

GtkTreeMenu .menuitem {
	padding: 0;
	border-width: 0;
}

.menuitem,
.menu .menuitem {
	-GtkMenuItem-arrow-scaling: 0.5;
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 0;
	background-color: transparent;
	color: @menu_fg_color;
}

.menu .menuitem:active,
.menu .menuitem *:active,
.menu .menuitem:hover,
.menu .menuitem *:hover {
	border-color: shade(#4a99cb, 0.85);
	background-color: #4a99cb;
	color: @menu_fg_color;
}

.menu .menuitem:insensitive,
.menu .menuitem *:insensitive {
	color: @bg_color_dark;
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover {
	border-style: none;
	background-color: transparent;
}

.menuitem.check:active,
.menuitem.radio:active {
	border-style: none;
	background-color: transparent;
}

.menu.button:active:insensitive,
.menu.button:checked:insensitive,
.menu.button:insensitive,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
	border: 1px solid @insensitive-color;
	background-color: @insensitive-color;
}

.menuitem GtkCalendar:inconsistent {
	color: mix(@menu_fg_color, @menu_bg_color, 0.5);
}

.menuitem GtkCalendar.button {
	border-style: none;
	background-color: transparent;
}

.menuitem .entry {
	border-color: shade(@menu_bg_color, 0.7);
	background-color: @menu_bg_color;
	color: @menu_fg_color;
}

.menuitem .entry:active,
.menuitem .entry:focus {
	border-color: shade(@bg_color, 0.7);
	background-color: @bg_color;
	color: @fg_color;
}

.menuitem .accelerator {
	color: alpha(@menu_fg_color, 0.6);
}

.menuitem .accelerator:hover {
	color: alpha(@menu_fg_color, 0.8);
}

.menuitem .accelerator:insensitive {
	color: alpha(@insensitive-color, 0.6);
}

GtkModelMenuItem GtkBox GtkImage {
	padding-right: 4px;
}
