/* toolbars

.toolbar {
	padding: 2px;
	border: 0;
	background-color: #3c3733;
	color: @fg_color;
}

.toolbar .button {
	padding: 2px;
	background-color: #3c3733;
	background-image: none;
}

.toolbar .button:insensitive {
	color: @insensitive-color;
}

.toolbar .button.text-button {
	padding: 2px 4px;
}

.toolbar .button.image-button {
	padding: 4px 3px 3px 4px;
}

.toolbar:insensitive {
	background-color: @insensitive-color;
	color: @insensitive-color;
}

.toolbar.menubar {
	-GtkToolbar-button-relief: normal;
}

.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
	-GtkWidget-window-dragging: true;
	padding: 5px;
	border: 0;
	background-color: #3c3733;
	color: @fg_color;
}

.primary-toolbar GtkComboBox,
.primary-toolbar .button {
	padding: 2px;
	border: 0;
	background-color: transparent;
	color: @fg_color;
}

.primary-toolbar GtkComboBox.flat,
.primary-toolbar .button.flat,
.primary-toolbar GtkComboBox.flat,
.primary-toolbar .button.flat,
.toolbar GtkComboBox.flat,
.toolbar .button.flat {
	border: 1px solid transparent;
	background-color: transparent;
}

.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.toolbar GtkComboBox,
.toolbar .button {
	border: 0;
	background-color: transparent;
	color: @fg_color;
}

.primary-toolbar .button:hover,
.toolbar .button:hover {
	border: 1px solid #3c3733;
	background-color: #3c3733;
	background-image: linear-gradient(
		to bottom,
		shade(mix(@bg_color, #3c3733, 0.65), 1.45),
		@bg_color
	);
}

.primary-toolbar GtkComboBox.flat:insensitive,
.primary-toolbar .button.flat:insensitive,
.primary-toolbar GtkComboBox.flat:insensitive,
.primary-toolbar .button.flat:insensitive,
.toolbar GtkComboBox.flat:insensitive,
.toolbar .button.flat:insensitive,
.primary-toolbar .button:insensitive,
.primary-toolbar .button:active:insensitive,
.primary-toolbar .button:checked:insensitive,
.toolbar .button:insensitive,
.toolbar .button:active:insensitive,
.toolbar .button:checked:insensitive {
	border-color: transparent;
	background-color: transparent;
	background-image: none;
	color: transparent;
}

.primary-toolbar .entry,
.toolbar .entry {
	border-color: shade(@bg_color, 0.8);
}

.primary-toolbar .entry:active,
.primary-toolbar .entry:focus,
.toolbar .entry:active,
.toolbar .entry:focus {
	border-color: shade(@bg_color, 0.8);
}

.inline-toolbar.toolbar {
	-GtkToolbar-button-relief: normal;
	padding: 1px;
	border: 1px solid shade(@bg_color, 0.8);
	background-color: #3c3733;
	background-image: none;
}

.inline-toolbar.toolbar:last-child {
	border-width: 0 1px 1px 1px;
	border-color: shade(@bg_color, 0.8);
}

.inline-toolbar.toolbar .button {
	padding: 1px;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: shade(@bg_color, 0.8);
	border-radius: 0;
	background-color: @bg_color;
	color: @fg_color;
}

.inline-toolbar.toolbar .button:hover,
.inline-toolbar.toolbar .button:hover:focus,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:active:hover,
.inline-toolbar.toolbar .button:active:hover:focus,
.inline-toolbar.toolbar .button:active:focus,
.inline-toolbar.toolbar .button:checked, 
.inline-toolbar.toolbar .button:checked:hover,
.inline-toolbar.toolbar .button:checked:hover:focus,
.inline-toolbar.toolbar .button:checked:focus,
.inline-toolbar.toolbar .button:focus {
	border-color: shade(@bg_color_selected, 0.7);
	background-color: shade(@bg_color_selected, 1.10);
}

.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
	border-color: shade(@insensitive-color, 0.85);
	background-color: @insensitive-color;
}

.inline-toolbar.toolbar .button:active:insensitive
.inline-toolbar.toolbar GtkToolButton .button:active:insensitive,
.inline-toolbar.toolbar .button:checked:insensitive
.inline-toolbar.toolbar GtkToolButton .button:checked:insensitive {
	border-color: shade(@insensitive-color, 0.8);
	background-color: @insensitive-color;
	color: @insensitive-color;
}

*/