/* checkboxes and radios */

check,
.check,
radio,
.radio {
	min-width: 16px;
	min-height: 16px;
	padding: 1px 0 0 1px;
	margin: 0 0 4px;
	margin: 0 5px 5px;
	box-shadow: inset 0 1px 2px 0 shade(@bg_color_dark, 1.5);	
	background-color: @bg_color;
	background-image: none;
}

check:checked,
.check:checked,
radio:checked,
.radio:checked {
	background-color: @highlight_color;
	color: @bg_color;
}

check:disabled,
.check:disabled,
radio:disabled,
.radio:disabled {
	border-color: shade(@idisabled_color, 0.85);
	background-color: shade(@disabled_color, 1.15);
	background-image: none;
	color: @disabled_color;
}

check,
.check {
	border-radius: 2px;
}

radio,
.radio {
	border-radius: 8px;
}

checkbutton.text-button, 
radiobutton.text-button,
checkbutton label, 
radiobutton label {
	padding: 0 0 2px;
	outline-offset: 0;
	color: @text_color;
}
