/* color chooser */

button.color {
	padding: 4px;
}

button.color colorswatch {
	border-radius: 2px;
}

colorswatch,
colorswatch:hover,
colorswatch:selected {
	border: 1px solid transparent;
	background-color: transparent;
	background-clip: border-box;
}

colorswatch #add-color-button {
	border-color: shade(@border_color, 1.25);
	background-color: shade(@border_color, 1.75);
	background-clip: padding-box;
	color: @fg_color;
}

colorswatch #add-color-button:hover {
	background-color: shade(@border_color, 1.25);
	color: @highlight_text_color;
}

colorswatch:hover,
colorswatch:selected,
colorswatch #add-color-button:hover {
	border-color: @border_color;	
}


coloreditor colorswatch.color-dark:hover,
coloreditor colorswatch.color-light:hover {
	background-image: none;
	border-color: @border_color;
}