/* header bar */

headerbar {
	padding: 4px;
	border: none;
	border-radius: 0;
	background-color: @header_color;
	background-image: linear-gradient(
		to bottom,
		@header_color,
		@bg_color_dark
	);
	color: @highlight_text_color;
}

headerbar .title {
  padding: 0 5px;
	font: bold;
	color: @highlight_text_color;
	text-shadow: 2px 2px 2px @bg_color_dark;
	-gtk-icon-shadow: 2px 2px 2px @bg_color_dark;
}

headerbar .subtitle {
	padding: 0 5px;
	font: smaller;
	text-shadow: none;
}
