/* header bar */

headerbar {
	padding: 4px;
	border: none;
	border-radius: 0;
	background-color: transparent;
	color: @fg_color;
}

headerbar .title {
  padding: 0 5px;
	font: bold;
	color: @fg_color;
}

headerbar .subtitle {
	padding: 0 5px;
	font: smaller;
	text-shadow: none;
}
