
menu,
.menu,
headerbar .menu,
headerbar menu {

  /**
   * Adjust the shade factor if we are using a compositor to apply transparency to our menu, 
   * else it will appear too light, in comparison to the corresponding active menubar item...
   */	
	background-color: shade(@menu_bg_color, 0.45);
	background-image: none;

}

treemenu.menu,
treemenu menu,
menutoolbutton.menu,
menutoolbutton menu,
combobox .menu,
combobox menu {
	background-color: @bg_color_dark;
	margin: 3px;
}

.primary-toolbar .menu,
.primary-toolbar menu,
.primary-toolbar button .menu,
.primary-toolbar button menu,
.toolbar .menu,
.toolbar menu,
.toolbar .primary-toolbar .menu,
.toolbar .primary-toolbar menu,
toolbar .menu,
toolbar menu,
toolbar .primary-toolbar .menu,
toolbar .primary-toolbar menu,
headerbar .primary-toolbar .menu,
headerbar .primary-toolbar menu {
	border: 0;
	padding: 0;
	background-color: @menu_bg_color;
	color: @text_color_light;
}

menu:selected,
.menu:selected {
	background-color: @bg_color_dark;
}

.context-menu {
	font: initial;
}

menubar,
.menubar {
	-GtkWidget-window-dragging: true;
	border: 0;
	background-color: @bg_color_dark;
	color: @text_color_light;
}

menubar > menuitem,
menubar.menuitem
menubar .menuitem,
.menubar .menuitem,
.menubar.menuitem,
.menubar .menuitem {
	padding: 3px 5px;
	border: 1px solid transparent;
	background-color: transparent;
	color: @text_color_light;
}

menubar > menuitem:hover,
menubar > menuitem *:hover,
menubar.menuitem:hover,
menubar .menuitem:hover,
menubar .menuitem *:hover,
.menubar.menuitem:hover,
.menubar .menuitem:hover,
.menubar .menuitem *:hover {


  /**
   * Adjust the shade factor if we are using a compositor to apply transparency to our menu, 
   * else it will appear too light, in comparison to the corresponding active menubar item...
   */	
	border-color: shade(@menu_bg_color, 0.9);
	background-color: shade(@menu_bg_color, 0.9);

}

treemenu menuitem,
treemenu .menuitem {
	padding: 0;
	border-width: 0;
}

menuitem,
.menuitem,
menu menuitem,
.menu menuitem {
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 0;
	background-color: transparent;
	color: @text_color_light;
}

menu menuitem:active,
menu menuitem *:active,
menu menuitem:hover,
menu menuitem *:hover,
menu .menuitem:active,
menu .menuitem *:active,
menu .menuitem:hover,
menu .menuitem *:hover,
.menu menuitem:active,
.menu menuitem *:active,
.menu menuitem:hover,
.menu menuitem *:hover
.menu .menuitem:active,
.menu .menuitem *:active,
.menu .menuitem:hover,
.menu .menuitem *:hover {
	border-color: transparent;
	border-radius: 0;
	background-color: @highlight_color;
	color: @highlight_text_color;
}

menu menuitem:disabled,
menu menuitem *:disabled,
menu .menuitem:disabled,
menu .menuitem *:disabled,
.menu menuitem:disabled,
.menu menuitem *:disabled,
.menu .menuitem:disabled,
.menu .menuitem *:disabled {
	color: @bg_color_dark;
}

menuitem calendar:indeterminate,
.menuitem calendar:indeterminate {
	color: mix(@text_color_light, @menu_bg_color, 0.5);
}

menuitem button,
menuitem button.toggle-button,
menuitem button.toggle-button:hover,
menuitem:hover button.toggle-button {
	background-color: shade(@border_color, 1.5);
	background-image: linear-gradient(
		to bottom,
		shade(@border_color, 1.2),
		shade(@border_color, 1.1),
		shade(@border_color, 0.95)
	);
	color: @text_color;
}

menuitem button:hover {
	background-color: shade(@border_color, 1.3);
	background-image: linear-gradient(
		to bottom,
		shade(@border_color, 1.2),
		@border_color,
		shade(@border_color, 0.95)
	);
}

menuitem button:active,
menuitem button:checked {
	background-color: shade(@border_color, 0.85);
	background-image: linear-gradient(
		to bottom,
		shade(@border_color, 0.6),
		shade(@border_color, 0.775),
		shade(@border_color, 0.85)
	);
	color: @text_color_light;
}

menuitem check,
menuitem radio,
menuitem check:hover,
menuitem radio:hover,
menuitem:hover check,
menuitem:hover radio,
menuitem .check,
menuitem .radio,
menuitem .check:hover,
menuitem .radio:hover,
menuitem:hover .check,
menuitem:hover .radio {
	box-shadow: inset 0 1px 2px 0 shade(@bg_color_dark, 1.25);
	background-color: @bg_color;
}

menuitem check:checked,
menuitem radio:checked,
menuitem check:checked:hover,
menuitem radio:checked:hover,
menuitem:hover check:checked,
menuitem:hover radio:checked,
menuitem .check:checked,
menuitem .radio:checked,
menuitem .check:checked:hover,
menuitem .radio:checked:hover {
	background-color: @highlight_color;
	color: @bg_color;
}

menuitem:hover .check:checked,
menuitem:hover .radio:checked {
	border: 1px solid @text_color_light;
	box-shadow: inset 0 1px 2px 0 @bg_color_dark;
	background-color: shade(@highlight_color, 1.25);
	color: @bg_color;
}

menuitem check:disabled,
menuitem radio:disabled,
menuitem check:disabled:hover,
menuitem radio:disabled:hover,
menuitem:hover check:disabled,
menuitem:hover radio:disabled,
menuitem .check:disabled,
menuitem .radio:disabled,
menuitem .check:disabled:hover,
menuitem .radio:disabled:hover,
menuitem:hover .check:disabled,
menuitem:hover .radio:disabled {
	border-color: shade(@idisabled_color, 0.85);
	background-color: shade(@disabled_color, 1.15);
	background-image: none;
	color: @disabled_color;
}

menuitem check:disabled:checked,
menuitem radio:disabled:checked,
menuitem check:disabled:checked:hover,
menuitem radio:disabled:checked:hover,
menuitem:hover check:disabled:checked,
menuitem:hover radio:disabled:checked,
menuitem .check:disabled:checked,
menuitem .radio:disabled:checked,
menuitem .check:disabled:checked:hover,
menuitem .radio:disabled:checked:hover,
menuitem:hover .check:disabled:checked,
menuitem:hover .radio:disabled:checked {
	background-color: shade(@disabled_color, 0.85);
	color: shade(@disabled_color, 1.15);
}

menuitem:hover check,
menuitem:hover .check {
	border-radius: 2px;
}

menuitem:hover radio,
menuitem:hover .radio {
	border-radius: 8px;
}


menuitem accelerator,
.menuitem accelerator {
	color: alpha(@text_color_light, 0.6);
}

menuitem accelerator:hover,
.menuitem accelerator:hover {
	color: alpha(@text_color_light, 0.8);
}

menuitem accelerator:disabled,
.menuitem accelerator:disabled {
	color: alpha(@disabled_color, 0.6);
}

modelmenuitem box image {
	padding-right: 4px;
}
