.panel {
	padding: 5px;
	border: 0;
	background-color: transparent;
	box-shadow: none;
	font-weight: bold;
	color: @text_color;
	text-shadow: 2px 2px 2px @bg_color_dark;
	icon-shadow: 2px 2px 2px @bg_color_dark;
}
