/* sidebars */

.sidebar,
.sidebar.view,
.sidebar .view,
.sidebar GtkScrolledWindow {
	background-color: @bg_color;
	color: @fg_color;
}

.sidebar row:prelight,
.sidebar .view row:prelight {
	border-color: shade(@border_color, 1.05);
	background-color: shade(@border_color, 1.05);
	color: @fg_color;
}

.sidebar row:selected,
.sidebar row:selected:hover,
.sidebar row:selected:focus,
.sidebar row:selected:prelight,
.sidebar .view row:selected,
.sidebar .view row:selected:hover,
.sidebar .view row:selected:focus,
.sidebar .view row:selected:prelight {
	border-color: shade(@highlight_color, 0.9);
	background-color: @highlight_color;
	color: @highlight_text_color;
}

.sidebar .frame {
	border-width: 0;
}