/* stackswitcher */

stackswitcher checkbutton, 
stackswitcher radiobutton,
.stack-switcher checkbutton, 
.stack-switcher radiobutton,
.stack-switcher radio,
.stack-switcher .radio,
stackswitcher radio,
stackswitcher .radio,
stackswitcher checkbutton.text-button, 
stackswitcher radiobutton.text-button,
.stack-switcher checkbutton.text-button, 
.stack-switcher radiobutton.text-button,
.stack-switcher radio.text-button,
.stack-switcher .radio.text-button,
stackswitcher radio.text-button,
stackswitcher .radio.text-button {
	border: 1px solid shade(@border_color, 0.9);
	border-radius: 2px;
	box-shadow: none;
	margin: 2px;
	padding: 5px 3px 3px;
	background-color: shade(@border_color, 1.5);
	background-image: linear-gradient(
		to bottom,
		shade(@border_color, 1.2),
		shade(@border_color, 1.1),
		shade(@border_color, 0.95)
	);
}

stackswitcher checkbutton:hover, 
stackswitcher radiobutton:hover,
.stack-switcher checkbutton:hover, 
.stack-switcher radiobutton:hover,
.stack-switcher radio:hover,
.stack-switcher .radio:hover,
stackswitcher radio:hover,
stackswitcher .radio:hover,
stackswitcher checkbutton.text-button:hover, 
stackswitcher radiobutton.text-button:hover,
.stack-switcher checkbutton.text-button:hover, 
.stack-switcher radiobutton.text-button:hover,
.stack-switcher radio.text-button:hover,
.stack-switcher .radio.text-button:hover,
stackswitcher radio.text-button:hover,
stackswitcher .radio.text-button:hover {
	border-color: shade(@border_color, 0.85);
	background-color: shade(@border_color, 1.3);
	background-image: linear-gradient(
		to bottom,
		shade(@border_color, 1.2),
		@border_color,
		shade(@border_color, 0.95)
	);
}

stackswitcher checkbutton:checked, 
stackswitcher radiobutton:checked,
.stack-switcher checkbutton:checked, 
.stack-switcher radiobutton:checked,
.stack-switcher radio:checked,
.stack-switcher .radio:checked,
stackswitcher radio:checked,
stackswitcher .radio:checked,
stackswitcher checkbutton.text-button:checked, 
stackswitcher radiobutton.text-button:checked,
.stack-switcher checkbutton.text-button:checked, 
.stack-switcher radiobutton.text-button:checked,
.stack-switcher radio.text-button:checked,
.stack-switcher .radio.text-button:checked,
stackswitcher radio.text-button:checked,
stackswitcher .radio.text-button:checked {
	border-color: shade(@border_color, 0.75);
	background-color: shade(@border_color, 0.85);
	background-image: linear-gradient(
		to bottom,
		shade(@border_color, 0.6),
		shade(@border_color, 0.775),
		shade(@border_color, 0.85)
	);
	color: @text_color_light;
}

stackswitcher checkbutton:disabled, 
stackswitcher radiobutton:disabled,
.stack-switcher checkbutton:disabled, 
.stack-switcher radiobutton:disabled,
.stack-switcher radio:disabled,
.stack-switcher .radio:disabled,
stackswitcher radio:disabled,
stackswitcher .radio:disabled,
stackswitcher checkbutton:checked:disabled, 
stackswitcher radiobutton:checked:disabled,
.stack-switcher checkbutton:checked:disabled, 
.stack-switcher radiobutton:checked:disabled,
.stack-switcher radio:checked:disabled,
.stack-switcher .radio:checked:disabled,
stackswitcher radio:checked:disabled,
stackswitcher .radio:checked:disabled,
stackswitcher checkbutton.text-button:disabled, 
stackswitcher radiobutton.text-button:disabled,
.stack-switcher checkbutton.text-button:disabled, 
.stack-switcher radiobutton.text-button:disabled,
.stack-switcher radio.text-button:disabled,
.stack-switcher .radio.text-button:disabled,
stackswitcher radio.text-button:disabled,
stackswitcher .radio.text-button:disabled,
stackswitcher checkbutton.text-button:checked:disabled, 
stackswitcher radiobutton.text-button:checked:disabled,
.stack-switcher checkbutton.text-button:checked:disabled, 
.stack-switcher radiobutton.text-button:checked:disabled,
.stack-switcher radio.text-button:checked:disabled,
.stack-switcher .radio.text-button:checked:disabled,
stackswitcher radio.text-button:checked:disabled,
stackswitcher .radio.text-button:checked:disabled {
	border: 1px solid shade(@disabled_color, 0.95);
	background-color: @disabled_color;
	background-image: none;
	color: shade(@disabled_color, 0.75);
}