/* toolbars */

toolbar,
.toolbar {
	padding: 2px;
	border: 0;
	background-color: transparent;
	color: @fg_color;
}

toolbar button,
.toolbar button {
	padding: 2px;
}

toolbar button.text-button,
.toolbar button.text-button {
	padding: 2px 4px;
}

toolbar button.image-button,
.toolbar button.image-button {
	padding: 4px 3px 3px 4px;
}

toolbar:disabled,
.toolbar:disabled {
	background-color: @disabled_color;
	color: @disabled_color;
}

toolbar > menubar,
toolbar.menubar,
toolbar > menubar,
.toolbar menubar,
.toolbar.menubar {
	-GtkToolbar-button-relief: normal;
}

.primary-toolbar,
.primary-toolbar toolbar,
.primary-toolbar > toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
	-GtkWidget-window-dragging: true;
	padding: 5px;
	border: 0;
	background-color: transparent;
	color: @fg_color;
}

.primary-toolbar combobox,
.primary-toolbar button {
	border: 0;
	padding: 2px;
	background-color: transparent;
	color: @fg_color;
}

.primary-toolbar combobox.flat,
.primary-toolbar button.flat,
.primary-toolbar combobox.flat,
.primary-toolbar button.flat,
toolbar combobox.flat,
.toolbar combobox.flat,
.toolbar button.flat {
	border: 1px solid transparent;
	background-color: transparent;
}

.primary-toolbar .raised button,
.primary-toolbar .raisedbutton,
toolbar combobox,
.toolbar combobox,
toolbar button,
.toolbar button {
	background-color: transparent;
	color: @fg_color;
}

.primary-toolbar button,
.primary-toolbar button:focus,
.primary-toolbar button:hover,
.primary-toolbar button:active,
.primary-toolbar button:checked,
.primary-toolbar button:visited,
toolbar button,
toolbar button:focus,
toolbar button:hover,
toolbar button:active,
toolbar button:checked,
toolbar button:visited,
.toolbar button:focus,
.toolbar button:hover,
.toolbar button:active,
.toolbar button:checked,
.toolbar button:visited {
	border: 1px solid transparent;
	background-color: transparent;
	background-image: none;
	color: @fg_color;
}

.primary-toolbar combobox.flat:disabled,
.primary-toolbar button.flat:disabled,
.primary-toolbar combobox.flat:disabled,
.primary-toolbar button.flat:disabled,
toolbar combobox.flat:disabled,
toolbar button.flat:disabled,
.toolbar combobox.flat:disabled,
.toolbar button.flat:disabled,
.primary-toolbar button:disabled,
.primary-toolbar button:active:disabled,
.primary-toolbar button:checked:disabled,
toolbar button:disabled,
toolbar button:active:disabled,
toolbar button:checked:disabled,
.toolbar button:disabled,
.toolbar button:active:disabled,
.toolbar button:checked:disabled {
	border-color: transparent;
	background-color: transparent;
	background-image: none;
	color: @disabled_color;
}

.inline-toolbar > toolbar,
.inline-toolbar.toolbar {
	-GtkToolbar-button-relief: normal;
	padding: 1px;
	border: 1px solid shade(@border-color, 0.85);
	background-color: transparent;
	background-image: none;
}
