* {
	-GtkArrow-arrow-scaling: 1.0;
	
	-GtkButtonBox-child-min-height: 18;
	-GtkButtonBox-child-internal-pad-x: 2;
	-GtkButtonBox-child-internal-pad-y: 2;
	
	-GtkCheckButton-indicator-size: 16;
	-GtkCheckMenuItem-indicator-size: 14;
	
	-GtkExpander-expander-size: 8;
	
	-GtkHTML-link-color: @link_color;
	-GtkIMHtml-hyperlink-color: @link_color;
	
	-GtkProgressBar-min-horizontal-bar-height: 16;
	-GtkProgressBar-min-vertical-bar-width: 16;
	
	-GtkScrollbar-has-backward-stepper: false;
	-GtkScrollbar-has-forward-stepper: false;
	
	-GtkScrolledWindow-scrollbar-spacing: 1;
	
	-GtkTextView-error-underline-color: @error_color;
	
	-GtkToolButton-icon-spacing: 6;
	-GtkToolItemGroup-expander-size: 8;
	
	-GtkTreeView-expander-size: 8;
	-GtkTreeView-vertical-separator: 3;

	-GtkWidget-horizontal-separator: 1;
	-GtkWidget-vertical-separator: 1;
	
	-GtkWindow-resize-grip-width: 0;
	-GtkWindow-resize-grip-height: 0;

	background-clip: padding-box;
	border-radius: 0;
	
}

.background {
	background-color: @window_color;
	background-image: linear-gradient(
		to bottom,
		@window_color,
		shade(@window_color, 1.01),
		shade(@window_color, 1.025),
		shade(@window_color, 1.05),
		shade(@window_color, 1.075)
	);
	color: @fg_color;
}

.background:backdrop {
	text-shadow: none;
	-gtk-icon-shadow: none;
}

*:selected,
*:selected:focus {
	background-color: @highlight_color;
	color: @highlight_text_color;
}

*:disabled,
*:disabled:disabled {
	-gtk-icon-effect: dim;
	color: shade(@disabled_color, 0.75);
}

*:hover {
  -gtk-icon-effect: highlight;
}

*:link, 
*:link:hover, 
*:link:visited {
	color: @link_color;
	background-color: transparent;
	background-image: none;
}

*:link:visited,
*:visited {
	color: shade(@link_color, 1.55);
}

.gtkstyle-fallback {
	background-color: @bg_color;
	color: @fg_color;
}

.gtkstyle-fallback:hover {
	background-color: shade(@bg_color, 1.1);
	color: @fg_color;
}

.gtkstyle-fallback:active {
	background-color: shade(@bg_color, 0.9);
	color: @fg_color;
}

.gtkstyle-fallback:disabled {
	background-color: @disabled_color;
	color: shade(@disabled_color, 0.75);
}

.gtkstyle-fallback:selected {
	background-color: @highlight_color;
	color: @highlight_text_color;
}

GtkDrawingArea,
GtkDrawingArea:disabled {
  background-color: transparent;
}

image,
image:disabled,
GtkLabel,
box,
box:disabled,
GtkGrid,
GtkGrid:disabled {
	background-color: transparent;
}

GtkLabel:disabled {
	color: shade(@disabled_color, 0.75);
}
	