.background.osd {
	background-color: @header_color;
	background-image: linear-gradient(
		to bottom,
		@header_color,
		@bg_color_dark
	);
	color: @highlight_text_color;
}

GtkOverlay.osd {
	background-color: transparent;
}

.osd.frame {
	background-clip: border-box;
	background-origin: border-box;
}

.osd.toolbar {
	-GtkToolbar-button-relief: normal;
	padding: 4px;
}

.osd.toolbar .button {
	box-shadow: none;
}

.osd.toolbar .button:first-child {
	border-width: 1px 0 1px 1px;
}

.osd.toolbar .button:last-child {
	border-width: 1px 1px 1px 0;
}