@import url('widgets/button.css');
@import url('widgets/combobox.css');
@import url('widgets/check-radio.css');
@import url('widgets/spinbutton.css');
@import url('widgets/entry.css');
@import url('widgets/scale.css');
@import url('widgets/separator.css');
@import url('widgets/spinner.css');
@import url('widgets/switch.css');
@import url('widgets/levelbar.css');
@import url('widgets/column-row-list-tree.css');
@import url('widgets/frame.css');
@import url('widgets/image.css');
@import url('widgets/trough.css');
@import url('widgets/progressbar.css');
@import url('widgets/scrollbar.css');
@import url('widgets/searchbar.css');
@import url('widgets/menu.css');
@import url('widgets/notebook.css');
@import url('widgets/toolbar.css');
@import url('widgets/notification.css');
@import url('widgets/popover.css');
@import url('widgets/tooltip.css');
@import url('widgets/content-view.css');
@import url('widgets/color-chooser.css');
@import url('widgets/assistant.css');
@import url('widgets/dialog.css');
@import url('widgets/expander.css');
@import url('widgets/floating-bar.css');
@import url('widgets/actionbar.css');
@import url('widgets/infobar.css');
@import url('widgets/headerbar.css');
@import url('widgets/titlebar.css');
@import url('widgets/panel.css');
@import url('widgets/sidebar.css');
@import url('widgets/placessidebar.css');
@import url('widgets/viewport.css');
@import url('widgets/stackswitcher.css');
@import url('widgets/osd.css');
@import url('widgets/bubble-window.css');

.view:selected,
.view:selected:focus, 
iconview:selected,
iconview:selected:focus,
textview:selected,
textview:selected:focus {
	border: 1px solid shade(@highlight_color, 1.25);
	background-color: shade(@highlight_color, 1.25);
	color: @highlight_text_color;
}

rubberband,
flowbox rubberband,
treeview.veiw,
.content-view rubberband,
.view rubberband,
.rubberband {
	border: 1px solid shade(@highlight_color, 0.9);
	background-color: alpha(@highlight_color, 0.3);
}

.window-frame {
	border: 0;
	margin: 10px;
	box-shadow: none;
}
