/* bubble windows */

GtkBubbleWindow {
	border-radius: 2px;
	background-clip: border-box;
}

GtkBubbleWindow.osd.background {
	background-color: @header_color;
	background-image: linear-gradient(
		to bottom,
		@header_color,
		@bg_color_dark
	);
}

GtkBubbleWindow .toolbar {
	background: transparent;
}