/* separators */

.sidebar.separator,
.sidebar.view.separator,
.sidebar .view.separator,
.view.separator,
.separator {
	border-color: shade(@border_color, 1.25);
	color: shade(@border_color, 1.25);
}

.button .separator,
.button.separator {
	border-color: shade(@border_color, 1.25);
}

.button .separator:insensitive,
.button.separator:insensitive {
	border-color: shade(@insensitive_color, 0.85);
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator,
.toolbar GtkSeparatorToolItem,
.toolbar .separator {
	-GtkWidget-window-dragging: true;
	border: 0;
	color: shade(@border_color, 1.25);
}

.header-bar GtkSeparatorToolItem,
.header-bar .separator,
.titlebar GtkSeparatorToolItem,
.titlebar .separator {
	-GtkWidget-window-dragging: true;
	border-color: shade(@border_color, 1.25);
	color: shade(@border_color, 1.25);
}

.primary-toolbar .separator:insensitive,
.toolbar .separator:insensitive,
.header-bar .separator:insensitive,
.titlebar .separator:insensitive {
	border-color: shade(@insensitive_color, 0.85);
	color: @insensitive_color;
}

.header-bar .button .separator,
.header-bar .button.separator,
.titlebar .button .separator,
.titlebar .button.separator,
.primary-toolbar .button .separator,
.primary-toolbar .button.separator,
.toolbar .button .separator,
.toolbar .button.separator {
	border-color: shade(@border_color, 1.25);
}

.header-bar .button .separator:insensitive,
.header-bar .button.separator:insensitive,
.titlebar .button .separator:insensitive,
.titlebar .button.separator:insensitive,
.primary-toolbar .button .separator:insensitive,
.primary-toolbar .button.separator:insensitive,
.toolbar .button .separator:insensitive,
.toolbar .button.separator:insensitive {
	border-color: shade(@insensitive_color, 0.85);
}

.menuitem.separator {
	-GtkMenuItem-horizontal-padding: 0;
	border: 0;
	color: shade(@border_color, 1.25);
}

GtkComboBox .separator {
	border: 0;
}