/* toolbars */

.toolbar {
	padding: 2px;
	border: 0;
	background-color: transparent;
	color: @fg_color;
}

.toolbar .button {
	padding: 2px;
	background-color: transparent;
	background-image: none;
}

.toolbar .button.text-button {
	padding: 2px 4px;
}

.toolbar .button.image-button {
	padding: 4px 3px 3px 4px;
}

.toolbar:insensitive {
	background-color: @insensitive_color;
	color: @insensitive_color;
}

.toolbar.menubar {
	-GtkToolbar-button-relief: normal;
}

.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
	-GtkWidget-window-dragging: true;
	padding: 5px;
	border: 0;
	background-color: transparent;
	color: @fg_color;
}

.primary-toolbar GtkComboBox,
.primary-toolbar .button {
	border: 0;
	padding: 2px;
	background-color: transparent;
	color: @fg_color;
}

.primary-toolbar GtkComboBox.flat,
.primary-toolbar .button.flat,
.primary-toolbar GtkComboBox.flat,
.primary-toolbar .button.flat,
.toolbar GtkComboBox.flat,
.toolbar .button.flat {
	border: 1px solid transparent;
	background-color: transparent;
}

.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.toolbar GtkComboBox,
.toolbar .button {
	border: 0;
	background-color: transparent;
	color: @fg_color;
}

.primary-toolbar .button:hover,
.toolbar .button:hover {
	border: 1px solid shade(@border_color, 0.95);
	background-color: transparent;
	background-image: linear-gradient(
		to bottom,
		shade(mix(@bg_color, #3c3733, 0.65), 1.45),
		@bg_color
	);
}

.primary-toolbar .button:active,
.toolbar .button:active {
	border: 1px solid shade(@border_color, 0.9);
	background-color: transparent;
	background-image: linear-gradient(
		to bottom,
		shade(@border_color, 0.85),
		shade(@border_color, 1.05),
		shade(@border_color, 1.25)
	);
}

.primary-toolbar GtkComboBox.flat:insensitive,
.primary-toolbar .button.flat:insensitive,
.primary-toolbar GtkComboBox.flat:insensitive,
.primary-toolbar .button.flat:insensitive,
.toolbar GtkComboBox.flat:insensitive,
.toolbar .button.flat:insensitive,
.primary-toolbar .button:insensitive,
.primary-toolbar .button:active:insensitive,
.primary-toolbar .button:checked:insensitive,
.toolbar .button:insensitive,
.toolbar .button:active:insensitive,
.toolbar .button:checked:insensitive {
	border-color: transparent;
	background-color: transparent;
	background-image: none;
	color: transparent;
}

.primary-toolbar .entry,
.toolbar .entry {
	border-color: shade(@border-color, 0.85);
}

.inline-toolbar.toolbar {
	-GtkToolbar-button-relief: normal;
	padding: 1px;
	border: 1px solid shade(@border-color, 0.85);
	background-color: transparent;
	background-image: none;
}
